/* Container for switch and label */
.switch-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Style the switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
    /* Space between label and switch */
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Create the slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* Circle inside the slider */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* When checked, move the slider */
input:checked+.slider {
    background-color: #4CAF50;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Optional: round the slider */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Label to the left of the switch */
.switch-label {
    font-size: 1.2rem;
    font-weight: 500;
}

@media (prefers-color-scheme: dark) {
    .slider.round {
        background-color: #666;
    }

    input:checked+.slider {
        background-color: #176e1a;
    }
}